/*********************
 날짜: 2020/01/04
 작성자: 유승민
 설명: 뮤커톤 페이지 - 뮤커톤 협력 업체 소개
**********************/

/* Start Cooperation Desktop size */
.Cooperation {
  position: relative;
  overflow: hidden;
}

.Cooperation__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.point-bg {
  max-width: 960px;
  height: 1360px;
  background-color: #f1f1f1;
  margin-right: 50%;
}

.point-obj1 {
  position: absolute;
  top: -100px;
  right: -30px;
  width: 422px;
  height: 391px;
  background: url('../../assets/img/mukathon_point-obj_1.svg') no-repeat center center;
}

.point-obj2 {
  position: absolute;
  top: 426px;
  left: -70px;
  width: 241px;
  height: 216px;
  background: url('../../assets/img/mukathon_point-obj_2.svg') no-repeat center center;
}

/* Start Cooperation > section1 */
.Cooperation__section-1 {
  padding-top: 124px;
  padding-bottom: 121px;
}

/* Start Cooperation > section1 > ms-mucic */
.Cooperation__ms-music {
  width: 1024px;
  margin: 0 auto;
}

.Cooperation__ms-music h2 {
  font-size: 32px;
  font-weight: 500;
}

.ms-music__info-wrapper {
  display: flex;
  margin-top: 48px;
}

.ms-music__photo {
  width: 558px;
  height: 392px;
  object-fit: cover;
}

.ms-music__info {
  padding-left: 70px;
}

.ms-music__info img {
  display: block;
}

.ms-music__info span {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: var(--wemuz-purple);
  padding: 9px 12px;
  margin-top: 24px;
}

.ms-music__info p {
  margin-top: 22px;
  font-size: 16px;
  line-height: 34px;
  color: var(--wemuz-dark-gray);
}
/* End Cooperation > section1 > ms-mucic */
/* End Cooperation > section1 */

/* Start Cooperation > section2 */
.Cooperation__section-2 {
  padding-bottom: 91px;
}

.Cooperation__mentor {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.Cooperation__header {
  width: 1024px;
  margin: 0 auto;
}

.Cooperation__header h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--wemuz-dark-gray);
}

.Cooperation__header h3::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 8px;
  height: 28px;
  align-self: center;
  border-radius: 4px;
  background-color: var(--wemuz-purple);
  margin-right: 12px;
}

/* Start Cooperation > section2 > mentor slider */
.Cooperation__swiper-container {
  display: flex;
  width: 1024px;
  margin: 37px auto;
}

.mentor-slider__slide {
  float: left;
  position: relative;
  display: block;
  width: 1024px;
  margin-right: 120px;
}

.mentor-photo {
  float: left;
  display: block;
  width: 512px;
  height: 512px;
  object-fit: cover;
}

.mentor-info {
  display: block;
  float: left;
  width: 512px;
  height: 512px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--wemuz-black);
  padding: 64px 56px;
}

.mentor-name h4 {
  font-size: 24px;
  color: #7ea2f4;
  text-align: center;
}

.mentor-name h5 {
  font-size: 16px;
  color: var(--wemuz-gray);
  text-align: center;
  margin-top: 8px;
}

.mentor-career {
  font-size: 16px;
  color: var(--wemuz-white-gray);
  margin-top: 48px;
}

.mentor-career p {
  line-height: 24px;
  margin-top: 12px;
}

.mentor-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 512px;
  background-color: #292545cb;
}

.swiper-slide-active .mentor-overlay {
  opacity: 0;
}

.mentor-slider__button-wrapper {
  position: absolute;
  top: 250px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  opacity: 0.65;
  outline: none;
  transition: 0.2s;
}

/* From swiper js */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.swiper-button-prev::after {
  background: url('../../assets/icon/mentor-slider_prev-btn.svg') no-repeat center center;
}
.swiper-button-next::after {
  background: url('../../assets/icon/mentor-slider_next-btn.svg') no-repeat center center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

/* End Cooperation > section2 > mentor slider */
/* End Cooperation > section2 */
/* End Cooperation Desktop size */

/* Start Cooperation Mobile size */
@media screen and (max-width: 768px) {
  .--mobile {
    display: block;
  }

  .--desktop {
    display: none;
  }

  /* Start Cooperation > section1 */
  .Cooperation__section-1 {
    padding: 60px 28px 36px;
  }

  .Cooperation__ms-music {
    width: 100%;
    width: auto;
  }

  .Cooperation__ms-music h2 {
    font-size: 20px;
  }

  .ms-music__info-wrapper {
    position: relative;
    display: block;
    margin: 0;
  }

  .ms-music__photo {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 100%;
    height: 171px;
  }

  .ms-music__info {
    padding: 0;
    color: var(--wemuz-dark-gray);
    margin-top: 16px;
  }

  .ms-music__logo {
    width: 97px;
    height: 44px;
  }

  .ms-music__info span {
    font-weight: 500;
    color: var(--wemuz-black);
    background: none;
    padding: 0;
    margin-top: 200px;
  }

  .ms-music__info span::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 15px;
    border-radius: 8px;
    background-color: #dddddd;
    padding-bottom: 4px;
    margin-right: 6px;
    vertical-align: middle;
  }

  .ms-music__info p {
    font-size: 14px;
    line-height: 24px;
    padding: 0;
    margin: 16px 0;
  }
  /* End Cooperation > section1 */

  /* Start Cooperation > section2 */
  .Cooperation__section-2 {
    padding-bottom: 44px;
  }

  .mentor-overlay,
  .mentor-slider__button-wrapper {
    display: none;
  }

  .Cooperation__header {
    width: 100%;
    background-color: var(--wemuz-purple);
    padding: 24px 28px 60px;
    margin-bottom: -14px;
  }

  .Cooperation__header h3 {
    font-size: 14px;
    color: #fff;
  }

  .Cooperation__header h3::before {
    display: none;
  }

  /* Start Cooperation > section2 > mentor slider */
  .Cooperation__swiper-container {
    width: 282px;
    height: 600px;
    margin: 0 auto;
  }

  .Cooperation__swiper-container .swiper-slide {
    width: 100%;
    text-align: start;
  }

  .Cooperation__swiper-pagination {
    position: relative;
    display: flex;
    width: calc(100vw - 100px);
    height: 6px;
    margin: 12px auto;
  }

  .Cooperation__swiper-pagination .swiper-pagination-bullet {
    width: calc(100% / 6);
    height: 6px;
    border-radius: 0;
    background-color: #785ffa;
    outline: none;
    opacity: 0.4;
  }

  .Cooperation__swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
  }

  .mentor-slider__slide {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  .mentor-photo {
    float: none;
    position: relative;
    display: block;
    width: 282px;
    height: 282px;
  }

  .mentor-info {
    float: none;
    position: relative;
    width: 266px;
    height: auto;
    background: #fff;
    padding: 16px 12px;
    margin: -40px auto 0;
  }

  .mentor-career {
    margin-top: 14px;
  }

  .mentor-career p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.24px;
    color: var(--wemuz-dark-gray);
    margin-top: 8px;
  }

  .mentor-name {
    display: flex;
    align-items: flex-end;
  }

  .mentor-name h4 {
    font-size: 16px;
    color: var(--wemuz-purple);
    margin-right: 7px;
  }

  .mentor-name h5 {
    font-size: 12px;
    color: var(--wemuz-gray);
    margin: 0;
  }
  /* End Cooperation > section2 > mentor slider */
  /* End Cooperation > section2 */
}
/* End Cooperation Mobile size */
