/********************
날짜: 2020/01/04
작성자: 유승민
설명: 뮤커톤 페이지 메인 css
*********************/
@import '../style.css';

/* swiper js css */
@import '../swiper.css';

/* 섹션 별 import */
@import './mukathon-intro.css';
@import './mukathon-schedule.css';
@import './mukathon-cooperation.css';
@import './mukathon-wemuz.css';

main {
  width: 100%;
  overflow-x: hidden;
}

strong {
  font-weight: 500;
}
