/*********************
 날짜: 2020/01/04
 작성자: 유승민
 설명: 뮤커톤 페이지 - 뮤커톤 활동 일정
**********************/

/* Start Schedule Desktop size */
.--mobile {
  display: none;
}
.--desktop {
  display: block;
}

/* Start Schedule > section1 */
.Schedule__section-1 {
  position: relative;
  background: #ebe6f5;
  text-align: center;
  z-index: -1;
  padding: 132px 0 275px;
}

.Schedule__bg-objects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-object {
  position: absolute;
  height: 36px;
  border-radius: 18px;
}

/* !! object's position and color is defined in html !!*/
.--object-short {
  width: 180px;
}

.--object-long {
  width: 280px;
}

/* Start Schedule > section1 > week plan */
.Schedule__week-plan {
  position: relative;
  width: 724px;
  margin: 0 auto 0;
}

.Schedule__week-plan h2 {
  font-size: 32px;
  font-weight: 500;
}

.week-plan__plan-list::before {
  position: absolute;
  top: 152px;
  left: 356px;
  content: '';
  height: 538px;
  width: 20px;
  background: url('../../assets/img/mukathon_schedule-obj.svg') no-repeat center center;
}

.week-plan__plan-list {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
}

.week-plan__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: #fff;
  box-shadow: 1.5px 1.3px 4px #00000021;
  box-sizing: border-box;
  padding: 23px 20px;
  margin-top: 9.7px;
}

.week-plan__plan span:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
}

.week-plan__plan span:nth-child(2) {
  font-size: 16px;
  color: var(--wemuz-dark-gray);
}

.week-plan__plan:nth-child(odd) {
  align-self: flex-start;
}

.week-plan__plan:nth-child(even) {
  align-self: flex-end;
}
/* End Schedule > section1 > week plan */
/* End Schedule > section1 */

/* Start Schedule > section2 */
.Schedule__section-2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 146px;
}

/* Start Schedule > section2 > plan detail */
.Schedule__planDetail-wrapper {
  margin-top: -281px;
}

.Schedule__planDetail-slider {
  width: fit-content;
  margin: 118px auto;
}

.Schedule__planDetail {
  float: left;
  width: 334px;
  box-sizing: border-box;
  margin-right: 10px;
}

.planDetail__text {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
  padding: 32px 24px 32px;
  margin-top: 2px;
}

.planDetail__text h3 {
  font-size: 20px;
}

.planDetail__text p {
  margin-top: 26px;
}

.Schedule__planDetail:nth-child(1) .planDetail__text {
  background-color: var(--wemuz-light-purple);
}
.Schedule__planDetail:nth-child(2) .planDetail__text {
  background-color: var(--wemuz-purple);
}
.Schedule__planDetail:nth-child(3) .planDetail__text {
  background-color: var(--wemuz-deep-purple);
}
/* End Schedule > section2 > plan detail */
/* End Schedule > section2 */
/* End Schedule Desktop size */

/* Start Schedule Mobile size */
@media screen and (max-width: 768px) {
  .--mobile {
    display: block;
  }

  .--desktop {
    display: none;
  }

  /* Start Schedule > section1 */
  .Schedule__section-1 {
    padding: 66px 0 40px;
    border-bottom: 1px solid #785ffa33;
  }

  .Schedule__week-plan {
    width: fit-content;
    margin: 0 auto 0;
  }

  .Schedule__week-plan h2 {
    font-size: 20px;
  }

  /* Start Schedule > section1 > weekplan list */
  .week-plan__plan-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 26px;
  }

  .week-plan__plan-list::before {
    display: none;
  }

  .week-plan__plan {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 274px;
    padding: 17px 14px;
  }

  .week-plan__plan span:nth-child(1) {
    font-size: 16px;
  }

  .week-plan__plan span:nth-child(2) {
    font-size: 14px;
  }

  .week-plan__plan::before {
    position: absolute;
    top: 18px;
    left: -7px;
    content: '';
    width: 14px;
    height: 14px;
    border: 4px solid var(--wemuz-purple);
    border-radius: 50%;
    box-sizing: border-box;
  }
  /* End Schedule > section1 > weekplan list */
  /* End Schedule > section1 */

  /* Start Schedule > section2 */
  .Schedule__section-2 {
    background: #ebe6f5;
    padding: 40px 0 30px;
  }

  .Schedule__planDetail-wrapper {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  /* Start Schedule > section2 > plan detail slider */
  .Schedule__planDetail-slider {
    display: flex;
    transform: translateX(calc(-100vw + 56px + 16px));
    margin: 0;
  }

  .Schedule__planDetail {
    width: calc(100vw - 56px);
    margin-right: 12px;
  }

  .Schedule__planDetail img {
    display: block;
    width: 264px;
    height: 178px;
    object-fit: cover;
    margin: 10px auto;
  }

  .planDetail__text {
    padding: 0;
    line-height: 22px;
    color: var(--wemuz-dark-gray);
    background-color: unset !important;
    margin-top: 32px;
  }

  .planDetail__text h3 {
    font-weight: 500;
    color: var(--wemuz-purple);
  }

  .planDetail__text p {
    margin-top: 12px;
  }

  .slider-pagenation {
    display: flex;
    width: calc(100vw - 56px);
    height: 6px;
    background-color: #785ffa66;
    margin: 12px auto;
  }

  .slider-page {
    width: calc(100% / 3);
    height: 6px;
  }

  .--active-page {
    background-color: #785ffa;
  }
  /* End Schedule > section2 > plan detail slider */
  /* End Schedule > section2 */
}
/* End Schedule Mobile size */
