/*********************
 날짜: 2020/01/05
 작성자: 유승민
 설명: 뮤커톤 페이지 - 뮤커톤 X 위뮤즈, 뮤커톤 후원 업체
**********************/

/* Start Wemuz */
/* Start Wemuz > section1 */
.Wemuz__section-1 {
  position: relative;
  padding-top: 225px;
}

.Wemuz__bg-whyUs {
  position: absolute;
  top: 158px;
  left: -12px;
  width: 824px;
  height: 150px;
  background: url('../../assets/img/withWemuz_why_us.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

/* Start Wemuz > section1 > with wemuz */
.Wemuz__withWemuz {
  max-width: 1160px;
  text-align: end;
  margin: 0 auto;
}

.Wemuz__withWemuz h2 {
  font-size: 32px;
  font-weight: 500;
  margin-right: 64px;
}

.Wemuz__description {
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  border-radius: 8px;
  background: url('../../assets/img/withWemuz_bg.png') no-repeat center center;
  background-size: cover;
  padding: 334px 64px 40px 0;
  margin-top: 28px;
}
/* End Wemuz > section1 > with wemuz */
/* End Wemuz > section1 */

/* Start Wemuz > section2 */
.Wemuz__section-2 {
  padding-top: 86px;
}

/* Start Wemuz > section2 > wemuz staffs */
.Wemuz__staffs {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.Wemuz__staffs-wrapper {
  display: flex;
}

.Wemuz__staffs h3 {
  font-size: 24px;
  font-weight: 500;
  color: var(--wemuz-dark-gray);
}

.Wemuz__staffs h3::before {
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 8px;
  height: 28px;
  align-self: center;
  border-radius: 4px;
  background-color: var(--wemuz-purple);
  margin-right: 12px;
}

.staffs__staff {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  margin-left: 68px;
}

.staff-photo {
  width: 280px;
  height: 280px;
}

.staffs__staff:nth-child(1) .staff-photo {
  background: url('../../assets/img/withWemuz_minchan.png') no-repeat center center;
  background-size: cover;
}
.staffs__staff:nth-child(2) .staff-photo {
  background: url('../../assets/img/withWemuz_jinuk.png') no-repeat center center;
  background-size: cover;
}

.staff-info {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 278px;
  height: 278px;
  color: #fff;
  line-height: 30px;
  border-radius: 8px;
  background-color: #292545cc;
  opacity: 0;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
  padding-left: 34px;
  padding-bottom: 26px;
}

.staffs__staff:hover .staff-info {
  opacity: 100%;
}

.staff-name {
  font-size: 16px;
  margin-top: 24px;
}
/* End Wemuz > section2 > wemuz staffs */
/* End Wemuz > section2 */

/* Start Wemuz > section3 */
/* Start Wemuz > section3 > sponsors */
.Wemuz__section-3 {
  padding-top: 80px;
}

.Wemuz__sponsors h2 {
  max-width: 1024px;
  font-size: 32px;
  font-weight: 500;
  margin: 0 auto;
}

.Wemuz__sponsor-wrapper {
  background-color: #ebe6f5;
  border-bottom: 1px solid #6b5fa762;
  margin-top: 28px;
  padding: 52px 0 64px;
}

.Wemuz__sponsor-list {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

.sponsors__sponsor p {
  margin-top: 24px;
}
/* End Wemuz > section3 > sponsors */
/* End Wemuz > section3 */
/* End Wemuz Desktop size */

/* Start Wemuz Mobile size */
@media screen and (max-width: 768px) {
  .--mobile {
    display: block;
  }

  .--desktop,
  .Wemuz__bg-whyUs {
    display: none;
  }

  /* Start Wemuz > section1 */
  .Wemuz__section-1 {
    padding: 0;
  }

  .Wemuz__withWemuz {
    text-align: start;
  }

  .withWemuz__image {
    display: block;
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  .Wemuz__withWemuz h2 {
    font-size: 20px;
    padding-left: 28px;
    margin-top: 26px;
  }

  .Wemuz__description {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
    color: var(--wemuz-dark-gray);
    background: none;
    padding: 0 28px;
    margin-top: 18px;
  }
  /* End Wemuz > section1 */

  /* Start Wemuz > section2 */
  .Wemuz__section-2 {
    padding: 32px 28px 0;
  }

  .Wemuz__staffs {
    display: block;
  }

  .Wemuz__staffs-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f2ff;
    border-radius: 4px;
    padding: 12px 14px;
  }

  .Wemuz__staffs-nav h3 {
    font-size: 14px;
  }

  .Wemuz__staffs-nav h3::before {
    display: none;
  }

  .staffs-nav {
    display: inline;
    font-size: 12px;
    color: #785ffa99;
  }

  .staffs-nav span {
    margin-left: 12px;
  }

  .staffs-nav span.--active-name {
    color: var(--wemuz-purple);
    border-bottom: 1px solid var(--wemuz-purple);
    padding-bottom: 2px;
  }

  .Wemuz__staffs-wrapper {
    margin-top: 12px;
  }

  .staffs__staff {
    position: relative;
    display: none;
    width: 100%;
    margin: 0;
  }

  .--active-staff {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .staff-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 26px;
  }

  .staff-name {
    font-size: 14px;
    color: var(--wemuz-purple);
    margin-top: 20px;
  }

  .staff-info {
    position: relative;
    display: block;
    width: auto;
    height: auto;
    opacity: 100%;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.24px;
    color: var(--wemuz-dark-gray);
    background: none;
    padding: 0;
    margin-top: 14px;
  }
  /* End Wemuz > section2 */

  /* Start Wemuz > section3 */
  .Wemuz__section-3 {
    padding-top: 60px;
  }

  .Wemuz__sponsors h2 {
    font-size: 20px;
    margin-left: 28px;
  }

  .Wemuz__sponsor-wrapper {
    padding: 32px 0 32px;
    margin: 0;
    background: none;
  }

  .Wemuz__sponsor-list {
    justify-content: space-around;
  }

  .sponsors__sponsor img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .sponsors__sponsor p {
    display: none;
  }
}
/* End Wemuz Mobile size */
