/***********************
 * 
 * 사진 동적크기 [o]
 * 모바일 사이즈 뮤커톤 [o]
 * 네바 색깔 [o]
 * 뮤커톤 인터랙션 [o]
 * 뮤커톤 사진 [o]
 * 폰트 적용 [o]
 * 다운로드 버튼 애니메이션 [o]
 * 모바일 배경 화면 크롭 []
 * 텍스트 빨간점 []
 * 텍스트 애니매이션 [o]
 * 사진 애니매이션 [o]
 * 뮤커톤 슬라이더 [ ]
 *
 ***********************/

.nav-container {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  color: white;
  width: 100%;
  z-index: 10;
  transition: 0.5s;
}

.nav--alt {
  background-color: white;
  color: var(--wemuz-black);
  border-bottom: 0.4px solid #cccccc56;
  box-shadow: none;
  transition: 0.5s;
}

.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 1024px;
  padding: 1.313em 0;
  margin: 0 2em;
}

.nav__logo {
  display: none;
  height: 1.125rem;
  transition: 0.5s;
}

.nav__logo--white {
  height: 1.125rem;
  transition: 0.5s;
}

.nav__menu-btn {
  display: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.nav-right__menu {
  display: flex;
}

.nav-right__menu li {
  margin-left: 2em;
  cursor: pointer;
  font-size: 1rem;
}

/* 모바일 사이즈 nav-bar */
@media screen and (max-width: 48rem) {
  .nav-wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-right {
    display: none;
  }

  .nav-right__menu {
    display: block;
  }

  .nav-right__menu li {
    margin-left: 0;
    margin-top: 20px;
  }

  .nav__menu-btn {
    display: block;
    position: absolute;
    top: 1.35em;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('/static/img/intro/icon/ico_menu_white.svg');
    background-repeat: none;
    background-position: center center;
    background-size: contain;
  }

  .menu-btn--alt {
    background-image: url('/static/img/intro/icon/ico_menu.svg');
  }

  .menu-active {
    display: block;
  }
}

.intro__section {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  background-color: rgba(238, 130, 238, 0.123);
  overflow: hidden;
}

.line-desktop {
  display: block;
}

.text-main,
.text-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: calc(50vw - 512px);
  z-index: 1;
}

.text-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 60vw;
  z-index: 1;
}

.text-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 5vh;
  z-index: 1;
}

.intro__text h5 {
  font-family: NanumSquareRoundB;
  font-size: 1.75rem;
  color: var(--wemuz-purple);
  opacity: 0;
  animation: fade-in 0.8s ease-in-out forwards;
  animation-play-state: running;
}

.intro__text h2 {
  font-family: NanumSquareRoundB;
  font-size: 3rem;
  line-height: 1.4;
  color: var(--wemuz-purple);
  opacity: 0;
  animation: fade-in 0.8s ease-in-out 0.1s forwards;
  animation-play-state: running;
}

.intro__text p {
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--wemuz-gray);
  margin-top: 52px;
  opacity: 0;
  animation: fade-in 0.8s ease-in-out 0.2s forwards;
  animation-play-state: running;
}

.text-main {
  font-size: 3.375em;
  line-height: 1.4;
  color: white;
}

/* text 애니메이션 */
@keyframes fade-in {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

.text-main h1 {
  font-family: NanumSquareRoundB;
}

.text-3 h5 {
  font-family: NanumSquareRoundEB;
  font-size: 3.5rem;
}

.text-3 h2 {
  font-family: NanumSquareRoundEB;
  text-align: center;
}

.text-3 p {
  margin-top: 7vh;
  text-align: center;
}

.link--google-play {
  display: flex;
  align-items: center;
  width: 193px;
  height: 54px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  background: rgba(255, 255, 255, 0);
  background-image: url('/static/img/intro/icon/ico_googleplay.png');
  background-repeat: no-repeat;
  background-position: 12% center;
  padding-top: 2px;
  padding-left: 64px;
  margin-top: 60px;
}

.link--google-play--mobile {
  display: none;
}

.point-bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 37%;
}

.point-circle {
  position: absolute;
  top: 11%;
  left: -3%;
  height: 75vh;
  width: 75vh;
  border-radius: 50%;
}

.mockup-img-mobile,
.mockup-img-mobile-2 {
  display: none;
}

.mockup-img-1 {
  position: absolute;
  top: 16%;
  right: 24%;
}

.mockup-img-1 img {
  max-height: 80vh;
}

.mockup-img-2 {
  position: absolute;
  top: 20%;
  left: 10%;
}

.mockup-img-2 img {
  max-height: 80vh;
}

.mukathon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  font-size: 1.25rem;
  color: var(--wemuz-red);
  border: 1px solid var(--wemuz-red);
  border-radius: 24px;
  background-color: rgba(254, 92, 93, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 26vh auto 0;
  will-change: transform;
  animation: title-activate 0.7s ease-in-out forwards;
  animation-play-state: paused;
}

@keyframes title-activate {
  from {
    transform: none;
  }
  to {
    transform: translateY(-30px);
    background-color: var(--wemuz-red);
    box-shadow: none;
    color: white;
  }
}

.bubble-tail {
  position: absolute;
  bottom: 0;
  left: 105px;
  width: 12px;
  height: 12px;
  opacity: 0;
  background-color: var(--wemuz-red);
  transform: rotate(45deg);
  animation: bubble-activate 0.4s ease-in-out 0.6s forwards;
  animation-play-state: paused;
}

@keyframes bubble-activate {
  to {
    bottom: -5px;
    opacity: 100%;
  }
}

.mukathon-description {
  display: inline;
  font-size: 1rem;
  color: var(--wemuz-red);
  opacity: 0;
  line-height: 1.6;
  text-align: center;
  animation: decription-activate 0.7s ease-in-out 0.3s forwards;
  animation-play-state: paused;
}

@keyframes decription-activate {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.mukathon.ani-activated,
.mukathon.ani-activated + .mukathon-description,
.mukathon.ani-activated .bubble-tail {
  animation-play-state: running;
}

.intro__mukathon-photo {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo-1 {
  opacity: 0;
  animation: fade-in--right 0.8s ease-in-out 0.6s forwards;
  animation-play-state: paused;
}

.photo-2 {
  opacity: 0;
  animation: fade-in--up 0.8s ease-in-out 1s forwards;
  animation-play-state: paused;
}

.photo-5 {
  opacity: 0;
  animation: fade-in--down 0.8s ease-in-out 1.2s forwards;
  animation-play-state: paused;
}

.photo-6 {
  opacity: 0;
  animation: fade-in--left 0.8s ease-in-out 0.8s forwards;
  animation-play-state: paused;
}
.photo--mobile {
  display: none;
}

@keyframes fade-in--right {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 100%;
    transform: none;
  }
}

@keyframes fade-in--left {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 100%;
    transform: none;
  }
}

@keyframes fade-in--up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 100%;
    transform: none;
  }
}

@keyframes fade-in--down {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 100%;
    transform: none;
  }
}

.slider-page-bullet,
.slider-btn--pre,
.slider-btn--next {
  display: none;
}

/*
  *
  * 모바일 사이즈 main contents 
  *
  */
@media screen and (max-width: 48rem) {
  .mockup-img-1 {
    display: none;
  }

  .intro__section {
    display: block;
    height: 210vw;
    overflow: hidden;
  }

  .intro__section:last-child {
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.459);
  }

  .photo-section--mobile {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 10;
  }

  .photo--mobile {
    display: table;
    float: left;
    width: 100vw;
    height: 100vh;
    background: url('/static/img/intro/img/slide-1.png') no-repeat center center;
    background-size: cover;
  }

  .line-mobile {
    display: block;
  }

  .line-desktop {
    display: none;
  }

  .text-main {
    font-size: 32px;
    text-align: center;
    margin: 37vw auto 0;
  }

  .link--google-play {
    display: none;
  }

  .link--google-play--mobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 0;
    font-size: 20px;
    color: white;
    background: var(--wemuz-purple);
    padding: 0;
    z-index: 10;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }

  @keyframes move-out {
    from {
      transform: none;
    }
    to {
      transform: translateY(60px);
    }
  }

  @keyframes move-in {
    from {
      transform: translateY(60px);
    }
    to {
      transform: none;
    }
  }

  .mockup-img-mobile img {
    width: 100%;
  }

  .mockup-img-mobile {
    display: block;
    height: fit-content;
    width: 60%;
    margin: 10% auto 0;
  }

  .mockup-img-mobile-2 {
    display: block;
    height: 54%;
    width: 100%;
    background-image: url('/static/img/intro/img/mockup-mobile2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 6% auto 0;
  }

  .text-1 {
    width: 100%;
    padding-left: 28px;
    margin-top: 20vw;
  }

  .text-2 {
    width: 100%;
    padding-left: 28px;
    margin-top: 20vw;
  }

  .text-3 {
    width: 100%;
    padding-right: 28px;
    padding-top: 0;
    margin: 120px auto 0;
  }

  .text-3 h2 {
    width: 100%;
    text-align: end;
    color: white;
  }

  .text-3 h5,
  .text-2 h5,
  .text-1 h5 {
    font-size: 24px;
  }

  .text-3 h2,
  .text-2 h2,
  .text-1 h2 {
    font-family: NanumSquareRoundB;
    font-size: 28px;
    margin-top: 8px;
  }

  .text-1 p {
    position: absolute;
    bottom: 7vh;
    left: 0;
    right: 0;
    width: 100%;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
  }

  .text-2 p {
    font-size: 16px;
    margin-top: 20px;
  }

  .point-bg {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 40%;
    z-index: -1;
  }

  .point-circle {
    top: 330px;
    left: -30px;
    width: 103vw;
    height: 103vw;
  }

  .mockup-img-2 {
    top: 360px;
    left: 78px;
    width: 64vw;
  }

  .mockup-img-2 img {
    width: 100%;
  }

  .mukathon-description,
  .text-3 h5,
  .text-3 p,
  .mukathon {
    display: none;
  }

  .intro__mukathon-photo {
    height: 100%;
    overflow: visible;
  }

  .slider-btn--pre {
    display: inline-block;
    position: absolute;
    left: 28px;
    bottom: 82px;
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    cursor: pointer;
    background: url('/static/img/intro/icon/left-btn.svg') no-repeat center center;
    background-size: 20px 20px;
  }

  .slider-btn--next {
    display: inline-block;
    position: absolute;
    left: 76px;
    bottom: 82px;
    width: 48px;
    height: 48px;
    border: none;
    background: none;
    cursor: pointer;
    background: url('/static/img/intro/icon/right-btn.svg') no-repeat center center;
    background-size: 20px 20px;
  }

  .slider-page-bullet {
    display: flex;
    position: absolute;
    left: 126px;
    bottom: 105px;
  }

  .page-bullet {
    width: 20px;
    height: 3px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 0 5px;
  }

  .bullet-active {
    background-color: var(--wemuz-red);
  }
}
