body {
  background-color: #f4f4f4b0;
  margin: 0;
}

.policy-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  border-bottom: 1px solid #e1e1e1;
  background-color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1024px;
  background-color: white;
  margin: 100px auto 100px;
}

.menu-bar {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #e1e1e1;
}

.policy-menu {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.policy-menu-btn {
  display: none;
}

.policy-menu__item {
  text-align: center;
  width: 160px;
  padding: 31px 0;
  cursor: pointer;
}

.activate-menu {
  border-bottom: 4px solid #785ffa;
}

.contents {
  padding: 80px 50px;
  line-height: 1.8em;
}

.contents h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.contents h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.contents h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 1.6rem;
}

.contents p {
  color: #666666;
}

.notice-header {
  background: url('/src/assets/icon/icon_chevron-down.svg') no-repeat 20px center;
  border-bottom: 1px solid #e1e1e179;
  padding: 1rem 0.625rem 1rem 3.75rem;
  cursor: pointer;
}

.notice-header strong {
  display: block;
  font-size: 1.063rem;
  font-weight: bold;
}

.notice-header em {
  display: block;
  color: #737373;
  font-size: 0.75rem;
}

.notice-contents {
  display: none;
  font-size: 0.938rem;
  color: #737373;
  line-height: 1.8;
  background-color: #795ffa1a;
  border-left: 4px solid #795ffab0;
  padding: 1rem;
}

.notice-header.activate-table {
  background: url('/src/assets/icon/icon_chevron-up.svg') no-repeat 20px center;
  border-bottom: none;
}

.notice-contents.activate-table {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 0.875rem;
  color: #737373;
}

.pagination span {
  cursor: pointer;
  margin: 0 0.625rem;
}

.pagination img {
  margin-top: 0.5rem;
}

.present-page {
  color: #785ffa;
  font-weight: bold;
}
