@import './reset.css';
@import './noticePage.css';

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.menu li {
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}

.menu li:hover {
  font-size: 20px;
}
