/* wemuz basic style */
@import '../style.css';

/* Project component */
@import './project_GNB.css';


/* Start Desktop size Project home */
.--m {
    display: none;
}

.project-home-container {
    margin-top: 80px;
}


/* Start home > banner */
.project-banner {
    width: 100%;
    background-color: rgb(255, 203, 203); /* For dev */
}

.project-banner__wrapper {
    position: relative;
}

.project-banner__slider-frame {
    max-width: 1720px;
    overflow-x: hidden;
    margin: 0 auto;
}

.project-banner__slider {
    display: flex;
    box-shadow: 0 0 0 5px var(--dev-img) inset;  /* For dev */
}

.project-banner__slide {
    display: block;
    float: left;
    width: 100%;    /* For dev */
    height: 452px;
    background-image: url('../../assets/img/sponsor__bg.png');   /* For dev */
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-slide {
    width: 100%;
    height: 100%;
    background-color: #12121294;
    text-align: center;
    color: #fff;
    padding-top: 80px;
    box-sizing: border-box;
}

.project-banner__slider-bullet {
    position: absolute;
    bottom: 28px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.slider-bullet {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: #777777;
    margin-right: 8px;
    margin-left: 8px;
}

.slider-bullet.--activated {
    background-color: #dddddd;
}
/* End home > banner */




/* Start home > my project */
.project-myProject {
    width: 100%;
    background-color: rgb(192, 255, 190);   /* For dev */
}

.project-myProject__wrapper {
    max-width: 1400px;
    padding: 100px 20px 156px;
    box-sizing: border-box;
    margin: 0 auto;
}

.projects-section {
    margin-top: 20px;
    
}

.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 178px;
    height: 225px;
    border-radius: 8px;
    background-color: #fff;
    padding-top: 20px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.project div {
    width: 88px;
    height: 88px;
    border-radius: 30px;
    background-color: var(--dev-img);   /* For dev */
}
/* End home > my project */




/* Start home > mukathon */
.project-mukathon {
    width: 100%;
    background-color: rgb(194, 203, 255);   /* For dev */
}

.project-mukathon__wrapper {
    max-width: 1400px;
    padding: 185px 20px 60px;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

.project-mukathon__slider-frame {
    position: relative;
    display: flex;
    width: 1360px;
    margin: 0 auto;
    background-color: rgb(210, 252, 182);   /* For dev */
    overflow-x: visible;
    margin-top: 60px;
}

.project-mukathon__slider {
    display: flex;
    box-shadow: 0 0 0 5px var(--dev-img) inset;  /* For dev */
}

.project-mukathon__slide {
    width: 329px;    /* For dev */
    height: 406px;   /* For dev */
    border-radius: 8px;
    background-color: #fff;
    margin-right: 48px;
}

.mukathon-slide__image {
    width: 100%;
    height: 238px;
    background-image: url('../../assets/img/mukathon_benefit_1.png'); /* For dev */
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-mukathon__progress-bar {
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #777777;
    margin-top: 44px;
}

.progress-bar {
    width: 340px;
    height: 4px;
    border-radius: 2px;
    background-color: #dddddd;
}

.project-mukathon__slider-btn {
    display: flex;
    justify-content: space-between;
    width: 136px;
    margin: 52px auto 0;
}

.slider-btn-pre,
.slider-btn-next {
    width: 44px;
    height: 44px;
    border: none;
    background-color: var(--dev-img);   /* For dev */
}
/* End home > mukathon */


/* End Desktop size Project home */








/* Start Mobile size Project home */
@media screen and (max-width:768px) {
    .project-mukathon__slider-btn {
        display: none;
    }


    .project-home-container {
        margin-top: 60px;
    }


    /* Start home > banner */
    .project-banner__slide {
        height: 200px;
    }


    .project-banner__slider-bullet {
        bottom: 16px;
    }

    .slider-bullet {
        width: 6px;
        height: 6px;
        margin-right: 5px;
        margin-left: 5px;
    }
    /* End home > banner */




    /* Start home > my project */
    .project-myProject__wrapper {
        padding-top: 44px;
        padding-bottom: 36px;
    }

    .projects__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
        grid-auto-rows: minmax(100px, auto);
    }

    .project {
        width: 100%;
        height: 146px;
        margin: 0;
        border-radius: 4px;
    }
    /* End home > my project */




    /* Start home > mukathon */
    .project-mukathon__wrapper {
        padding-top: 66px;
        padding-bottom: 32px;
    }

    .project-mukathon__slider-frame {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }

    .project-mukathon__slide {
        width: calc(100vw - 72px);
        height: 298px;
        margin-right: 16px;
    }

    .project-mukathon__progress-bar {
        height: 2px;
        border-radius: 1px;
        margin-top: 20px;
        background-color: var(--wemuz-light-gray);
    }

    .progress-bar {
        width: 100px;
        height: 2px;
        border-radius: 1px;
        background-color: #1d1d1b;
    }
}
/* End Mobile size Project home */