@import '../style.css';

/* Start Desktop size Project channel*/
.--m {
    display: none;
}




/* Start Project GNB bar */
.project-GNB {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background-color: rgb(255, 195, 195); /* For dev */
}

.project-GNB-wrapper {
    display: flex;
    width: 1360px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.project-GNB__logo {
    width: 100px;   /* For dev */
    height: 46px;   /* For dev */
    background-color: rgb(194, 194, 255);  /* For dev */
}

.project-GNB__user-profile {
    width: 44px;    /* For dev */
    height: 44px;   /* For dev */
    background-color: rgb(194, 194, 255);  /* For dev */
}
/* End Project GNB bar */








/* Start channel */
.channel-container {
    width: 100%;
    height: 100%;
    background-color: rgb(190, 255, 170);  /* For dev */
}

.channel-wrapper {
    display: flex;
    width: 1360px;
    margin: 100px auto 0;
    background-color: rgb(179, 218, 255);  /* For dev */
}





/* Start channel > side bar */
.side-bar {
    width: 260px;
    height: 800px;  /* For dev */
    background-color: rgb(237, 179, 255);  /* For dev */
    margin-right: 40px;
}

.side-bar__channel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 152px;
    padding-top: 34px;
    background-color: rgb(247, 255, 179);  /* For dev */
}

.side-bar__user-profile {
    padding: 28px 20px;
    margin-top: 4px;
    background-color: rgb(247, 255, 179);  /* For dev */
}

.user-profile__header {
    display: flex;
}

.user-profile__avatar {
    width: 60px;
    height: 60px;
    background-color: rgb(175, 236, 247);
}

.side-bar__menu {
    margin-top: 24px;
    background-color: rgb(247, 255, 179);  /* For dev */
}
/* End channel > side bar */





/* Start channel > content */
.content {
    width: 1060px;
    height: 400px;  /* For dev */
    background-color: rgb(237, 179, 255);  /* For dev */
}

.content-header {
    width: 100%;
    height: 68px;
    background-color: rgb(247, 255, 179);  /* For dev */
}

.content-container {
    width: 100%;
    height: 400px; /* For dev */
    background-color: rgb(247, 255, 179);  /* For dev */
    margin-top: 16px;
}
/* End channel > content */


/* End channel */


/* End Desktop size Project channel */











/* Start Mobile size Project channel */
@media screen and (max-width: 768px) {
    .user-profile__info,
    .project-GNB__logo {
        display: none;
    }

    .--m {
        display: block;
    }



    /* Start Project GNB */
    .project-GNB {
        width: 100vw;
    }

    .project-GNB-wrapper {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding: 0 20px 0 16px;
    }
    /* End Project GNB */ 








    /* Start channel */
    .channel-wrapper {
        display: block;
        width: 100%;
        margin-top: 60px;
    }




    /* Start channel > side-bar */
    .side-bar {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
    }

    .side-bar__channel-info {
        position: relative;
        width: 100%;
        height: 175px;
        box-sizing: border-box;
        box-shadow: 0 0 0 3px rgb(180, 255, 251) inset; /* For dev */
    }

    .side-bar__close-btn {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 28px;
        height: 28px;
    }

    .side-bar__channel-info img {
        width: 56px;
        height: 56px;
    }

    .side-bar__channel-info h1 {
        margin-top: 16px;
    }

    .side-bar__channel-info h2 {
        margin-top: 6px;
    }

    .side-bar__user-profile {
        margin-top: 0;
        box-shadow: 0 0 0 3px rgb(180, 255, 251) inset; /* For dev */
    }

    .user-profile__avatar {
        width: 36px;
        height: 36px;
        margin-right: 12px;
    }

    .user-profile__user-wrapper {
        display: flex;
    }

    .user-profile__alias {
        margin-right: 6px;
    }

    .side-bar__menu {
        padding: 12px 0 12px;
        margin-top: 0;
        box-shadow: 0 0 0 3px rgb(180, 255, 251) inset; /* For dev */
    }

    .side-bar__menu li {
        height: 48px;
        padding: 0 20px;
    }
    /* End channel > side-bar */





    /* Start channel > content */
    .content {
        width: 100%;
    }

    .content-header {
        height: 52px;
    }

    .content-container {
        width: 100vw;
    }
    /* End channel > content */


    /* End channel */
}
/* End Mobile size Project channel */