@import '../style.css';

/* Start Desktop size Project channel*/
.--m {
    display: none;
}




/* Start Project GNB bar */
.project-GNB {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    box-shadow: 0 2px 2px #1212121a;
}

.project-GNB-wrapper {
    display: flex;
    width: 1360px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.project-GNB__logo {
    width: 100px;   /* For dev */
    height: 46px;   /* For dev */
    background-color: var(--dev-img);   /* For dev */
}

.project-GNB__user-profile {
    width: 44px;    /* For dev */
    height: 44px;   /* For dev */
    background-color: var(--dev-img);   /* For dev */
}
/* End Project GNB bar */








/* Start channel */
.channel-container {
    width: 100%;
    height: 100%;
    background-color: rgb(190, 255, 170);  /* For dev */
}

.channel-wrapper {
    display: flex;
    width: 1360px;
    margin: 100px auto 0;
    background-color: rgb(179, 218, 255);  /* For dev */
}





/* Start channel > side bar */
.side-bar {
    width: 260px;
    height: 800px;  /* For dev */
    background-color: rgb(237, 179, 255);  /* For dev */
    margin-right: 40px;
}

.side-bar__channel-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 152px;
    border-radius: 4px;
    background-color: rgb(179, 255, 232);  /* For dev */
    box-sizing: border-box;
    z-index: 10;
    padding-top: 34px;
}

.side-bar__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    z-index: -1;
    background-color: #1212124b;
}

.side-bar__channel-info div {
    text-align: center;
}

.channel-info__img {
    width: 40px;
    height: 40px;
}

.channel-info__title {
    font-size: 22px;   
    color: var(--wemuz-red);
    margin-top: 10px;
}

.channel-info__season {
    font-size: 16px;
    color: #fff;
    margin-top: 3px;
}

.side-bar__user-profile {
    padding: 28px 20px 20px;
    margin-top: 4px;
    border-radius: 4px;
    background-color: #e8e8e8
}

.user-profile__header {
    display: flex;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

.user-profile__avatar {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 12px;
    background-color: var(--dev-img);   /* For dev */
}

.user-profile__alias {
    font-size: 20px;
    margin-top: 6px;
}

.user-profile__team {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background-color: #feadad;
    border-radius: 4px;
    padding: 4px 6px 3px;
    margin-top: 6px;
}

.user-profile__info {
    padding-top: 10px;
}

.user-profile__info li {
    display: flex;
    justify-content: space-between;
    color: var(--wemuz-deep-gray);
    margin-top: 6px;
}

.side-bar__menu {
    padding: 0px 10px;
    margin-top: 24px;
}

.menu__item {
    position: relative;
    font-size: 18px;
    color: var(--wemuz-deep-gray);
    padding: 19px 0 18px 56px;
}

.menu__item.--activated {
    border-radius: 8px;
    color: #fff;
    background-color: #feadad;
}

.menu__item::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 20px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: var(--dev-img);   /* For dev */
}
/* End channel > side bar */





/* Start channel > content */
.content {
    width: 1060px;
    height: 400px;  /* For dev */
    background-color: rgb(237, 179, 255);  /* For dev */
}

.content-header {
    position: relative;
    width: 100%;
    height: 68px;
    border-radius: 4px;
    background-color: #ffe6e6;
    box-sizing: border-box;
    padding: 21px 58px 21px;
}

.content-header span {
    font-size: 24px;
}

.content-header span::before {
    position: absolute;
    top: 16px;
    left: 20px;
    content: '';
    width: 36px;
    height: 36px;
    background-color: var(--dev-img);   /* For dev */
}

.content-container {
    width: 100%;
    height: 400px; /* For dev */
    background-color: rgb(247, 255, 179);  /* For dev */
    margin-top: 16px;
}
/* End channel > content */


/* End channel */


/* End Desktop size Project channel */











/* Start Mobile size Project channel */
@media screen and (max-width: 768px) {
    .user-profile__info,
    .project-GNB__logo {
        display: none;
    }

    .--m {
        display: block;
    }



    /* Start Project GNB */
    .project-GNB {
        width: 100vw;
    }

    .project-GNB-wrapper {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding: 0 20px 0 16px;
    }

    .project-GNB__menu-btn {
        width: 28px;
        height: 28px;
        background-color: var(--dev-img); /* For dev */
    }

    .project-GNB__channel-title {
        text-align: center;
    }

    .project-GNB__channel-title h1 {
        font-size: 16px;
        color: var(--wemuz-red);
    }

    .project-GNB__channel-title h2 {
        font-size: 12px;
        color: var(--wemuz-gray);
        margin-top: 6px;
    }

    .project-GNB__user-profile {
        width: 32px;
        height: 32px;
        border-radius: 11px;
    }
    /* End Project GNB */ 








    /* Start channel */
    .channel-wrapper {
        display: block;
        width: 100%;
        margin-top: 60px;
    }




    /* Start channel > side-bar */
    .side-bar {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
    }

    .side-bar__channel-info {
        width: 100%;
        height: 175px;
        border-radius: 0;
    }

    .side-bar__bg-overlay {
        border-radius: 0;
    }

    .side-bar__close-btn {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 28px;
        height: 28px;
        border: none;
        background-color: var(--dev-img);    /* For dev */
    }

    .side-bar__channel-info img {
        width: 56px;
        height: 56px;
    }

    .side-bar__channel-info h1 {
        font-size: 24px;
        margin-top: 16px;
    }

    .side-bar__channel-info h2 {
        font-size: 15px;
        margin-top: 6px;
    }

    .side-bar__user-profile {
        position: relative;
        margin-top: 0;
        border-radius: 0;
    }

    .side-bar__user-profile::after {
        position: absolute;
        top: 43px;
        right: 12px;
        content: '';
        width: 32px;
        height: 32px;
        background-color: var(--dev-img); /* For dev */
    }

    .user-profile__header {
        border-bottom: none;
    }

    .user-profile__avatar {
        width: 36px;
        height: 36px;
        border-radius: 12px;
        margin-right: 12px;
    }

    .user-profile__user-wrapper {
        display: flex;
        align-items: center;
    }

    .user-profile__alias {
        font-size: 18px;
        margin-right: 6px;
    }

    .user-profile__team {
        font-size: 12px;
        border-radius: 4px;
        padding: 3.5px 6px 2px;
    }

    .user-profile__info {
        font-size: 15px;
        color: var(--wemuz-deep-gray);
    }

    .side-bar__menu {
        padding: 12px 0 12px 60px;
        margin-top: 0;
        border-top: 2px solid var(--wemuz-light-gray);
        border-bottom: 2px solid var(--wemuz-light-gray);
    }

    .menu__item {
        height: 48px;
        font-size: 16px;
        box-sizing: border-box;
        padding: 15px 20px 14px;
    }
    .menu__item:not(:last-child) {
        border-bottom: 1px solid var(--wemuz-light-gray);
    }

    .menu__item.--activated {
        color: var(--wemuz-red);
        background: none;
    }

    .menu__item::before {
        top: 8px;
        left: -40px;
        width: 32px;
        height: 32px;
    }
    /* End channel > side-bar */





    /* Start channel > content */
    .content {
        width: 100%;
    }

    .content-header {
        height: 52px;
        border-radius: 0;
        padding: 18px 38px;
    }

    .content-header span {
        font-size: 16px;
    }

    .content-header span::before {
        top: 16px;
        left: 16px;
        width: 20px;
        height: 20px;
    }

    .content-container {
        width: 100vw;
    }
    /* End channel > content */


    /* End channel */
}
/* End Mobile size Project channel */